.vscode/
*.exe
*.out
*.o
*.obj
*.a
*.so
*.dll
a.out
experimentalCoding
neoProject
*.dSYM/
*.pdb
build/
bin/
obj/
out/
.vs/
*.swp
*.swo
*~
.DS_Store
.AppleDouble
.LSOverride
Thumbs.db
Desktop.ini
dokimes.cpp
